<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h1>FORM</h1>

    <form method="post" action="/chats">
        Enter the Name:
        <br>
        <input type="text" name="from" placeholder="name" required>
        <br>
        <br>
        <textarea name="msg" placeholder="enter the msg" required></textarea>
        <br>
        Send to :
        <br>
        <input type="text" name="to" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>